
body{
    font-family: 'Open Sans', sans-serif;
}
.reminder{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.container__input{
  
    padding: 8.5px;
    width: 300px;
    margin: 0 0 1.5em;
    border: 1px solid;
    border-color: rgb(177, 177, 177);
    border-radius: 0 5px 5px 0;
    

}

.container__label{
    position: relative;
    right: -5px;
    top: 2px;
    border: 1px solid;
    border-color: rgb(177, 177, 177);
    color: rgb(148, 148, 148);
    font-size: 15px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px 0 0 5px;
    padding: 0.4em;
    
}

.container__button{
    position: relative;
    right: -280px;
    margin: 1.5em;
    border: 1px solid;
    border-radius: 5px;
    background-color: blue;
    color: white;
    width: 70px;
    height: 30px;
}

.container__list h2{
    margin-left: 2em;
    font-size: 15px;

}


.container__list p{
    margin: 0 4em;
    font-size: 15px;
   
   

}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.container__list img{
    cursor: pointer;
   width: 15px;
   position: absolute;
   right: 500px;

}



